extends ../_layouts/docs

block title
  title Bitcoin Wallet Comparison | BitPay Documentation

append vars
  -var pageSelected = 'Docs'
  -var subpageSelected = 'Bitcoin Wallet Comparison'
  
block information
  h1.header__bottom-border-left Bitcoin Wallet Comparison
  p.lead We work with developers and wallet vendors to design and promote technical standards which improve the security and ease of using bitcoin.
  
  p We maintain this page as a resource for identifying wallet support of these standards.
  
  h5.bold.margin-bottom-none Bitcoin URI Support
  small <a href="https://github.com/bitcoin/bips/blob/master/bip-0021.mediawiki">BIP 21</a>
  p This is the standard for the &ldquo;2-tap&rdquo; payment experience. Users can follow a link or scan a QR code, and supporting wallets automatically prepare a payment of the proper amount to the correct address.
  
  h5.bold.margin-bottom-none Payment Protocol Support
  small <a href="https://github.com/bitcoin/bips/blob/master/bip-0070.mediawiki">BIP 70</a>, <a href="https://github.com/bitcoin/bips/blob/master/bip-0071.mediawiki">BIP 71</a>, and <a href="https://github.com/bitcoin/bips/blob/master/bip-0072.mediawiki">BIP 72</a>
  p The Payment Protocol standard enables secure payment requests, secure payment destinations, and payment experience improvements. These include payment recieved notifications, pre-determined refund addresses, and secure proof of payment.
  
  //- h5.bold.margin-bottom-none Accept-Header Support
  //- small <a href="https://github.com/bitcoin/bips/blob/master/bip-0073.mediawiki">BIP 73</a>
  //- p This standardizes wallet treatment of web addresses as &ldquo;payment request endpoints&rdquo;, allowing less information to be included on QR codes for bitcoin payments. Less-dense QR codes are easier to scan, particularly in low-light situations or on low-resolution prints and displays.
  
  h3.header__bottom-border-left.margin-top 1. True Wallets
  p.lead True Wallets are bitcoin wallets with which users control the keys to their own bitcoin.
  p To send bitcoin, wallet software uses a <em>secret key</em>, much like a password, to move the bitcoin. The new owner's wallet software then stores its new secret key.
  
  mixin wallet(name, platform, uri, pp, url)
   tr.text-center
     td.padding-top-less.text-left
       a(href="#{url}") #{name}
     td.padding-top-less #{platform}
     td(class="padding-top-less #{uri}")
     td(class="padding-top-less #{pp}")
  
  table(style="width: 100%;").small-smaller-text.line-height-more
    tr.text-center.border-bottom-gray
      th.small-4.text-left.padding-bottom-less Wallet
      th.small-4.padding-bottom-less Platform(s)
      th.small-2.padding-bottom-less Bitcoin URIs
      th.small-2.padding-bottom-less Payment Protocol
    +wallet("Bitcoin Core (Satoshi client)", "Mac OS, Windows, Linux", "checkmark", "checkmark", "https://bitcoin.org/")
    +wallet("Bitcoin Wallet (Schildbach)", "Android", "checkmark", "checkmark", "https://play.google.com/store/apps/details?id=de.schildbach.wallet")
    +wallet("Breadwallet", "iOS", "checkmark", "checkmark", "https://itunes.apple.com/us/app/breadwallet-bitcoin-wallet/id885251393")
    +wallet("Hive", "Mac OS, iOS, Android, Web", "checkmark", "checkmark", "https://www.hivewallet.com/")  
    +wallet("AirBitz", "iOS, Android", "checkmark", "", "https://airbitz.co/")
    +wallet("Armory", "Mac OS, Windows, Linux", "checkmark", "", "https://bitcoinarmory.com/")
    +wallet("Blockchain", "iOS, Android, Web", "checkmark", "", "https://blockchain.info/wallet")
    +wallet("Coinomi", "Android", "checkmark", "", "https://coinomi.com/")
    +wallet("Electrum", "Mac OS, Windows, Linux", "checkmark", "", "https://electrum.org/")
    +wallet("GreenAddress", "Chrome, iOS, Android", "checkmark", "", "https://greenaddress.it/")
    +wallet("KryptoKit", "Chrome", "checkmark", "", "https://chrome.google.com/webstore/detail/kryptokit-bitcoin-wallet/lhhipingoaiddcoalochnbjlkifbpmoj")
    +wallet("Multibit", "Mac OS, Windows, Linux", "checkmark", "", "https://multibit.org/")
    +wallet("Mycelium", "Android", "checkmark", "", "https://play.google.com/store/apps/details?id=com.mycelium.wallet")
    +wallet("Pheeva", "Chrome, iOS, Android", "checkmark", "", "http://pheeva.com/")

  
  h3.header__bottom-border-left.margin-top 2. Bitcoin Account Services
  p.lead Account services manage a bitcoin wallet on behalf of users, much like a bank manages a customer's funds.
  p Account services can be used as bitcoin wallets, though users should keep in mind many of these institutions do not insure consumers from the loss of deposits via theft, fraud, or bankruptcy. It is also not uncommon for account services to delay sending bitcoin, which can slow down purchase experiences and cause unnecessary hassle for users.
  
  table(style="width: 100%;").small-smaller-text.line-height-more
    tr.text-center.border-bottom-gray
      th.small-4.text-left.padding-bottom-less Wallet
      th.small-4.padding-bottom-less Platform(s)
      th.small-2.padding-bottom-less Bitcoin URIs
      th.small-2.padding-bottom-less Payment Protocol
    +wallet("Circle", "iOS, Android, Web", "checkmark", "", "https://www.circle.com")
    +wallet("Coinbase", "iOS, Android, Web", "checkmark", "", "https://coinbase.com")
    +wallet("Coinkite", "Web", "checkmark", "", "https://coinkite.com/")
    +wallet("Xapo", "iOS, Android, Web", "checkmark", "", "https://xapo.com/wallet/")

  p.margin-top If you are trying to make a payment from one of these services to a BitPay invoice, and the payment hasn't been sent, we recommend contacting the institution's support services. If you are unsure about the status of your payment, please feel free to contact our <a href="mailto:support@bitpay.com?Subject=Payment%20Delayed">support team</a>.
