extends primary

block header
  include ../_includes/docs-header

append vars
  -var bodyClass = 'white-header';
  
block content
  - var docsMenu = { 'Getting Started': '/docs', 'Selling Online': '/docs/ecommerce', 'Selling in Person': '/docs/retail', 'Banking & Settlements': '/docs/settlement' };
  - var usecaseMenu = { 'Email Billing': '/docs/billing', 'Donations': '/docs/donations'}
  - var resourceMenu = { 'Bitcoin Wallet Comparison': '/docs/wallets', 'BBB Exchange Rate': '/bitcoin-exchange-rates' }
  
  .row.padding-vertical.medium-padding-bottom-most
    .column.large-5.xlarge-3
      ul.side-nav.large-border-right-gray.padding-right-less
        li.uppercase.h3 Documentation
        each val, key in docsMenu
          li
            if subpageSelected === key
              a.active(href=val title=key target=_blank)= key
            else
              a(href=val title=key)= key
        li.divider
        li.uppercase.h3 Use Cases
        each val, key in usecaseMenu
          li
            if subpageSelected === key
              a.active(href=val title=key target=_blank)= key
            else
              a(href=val title=key)= key
        li.divider
        li.uppercase.h3 Resources
        each val, key in resourceMenu
          li
            if subpageSelected === key
              a.active(href=val title=key target=_blank)= key
            else
              a(href=val title=key)= key
        li
          a(href="https://support.bitpay.com") Help &amp; Support

    .column.large-7.xlarge-9
      block information
