extends ../_layouts/primary

block title
  title Integrations | BitPay

append vars
  -var integrationSelected = 'Integrated Solutions'
  -var pageSelected = 'Integrations'

block content
  mixin integration(src, href, name)
    .column.small-4.large-3.margin-bottom.end
      a.h1.background-contain.integration-logo(href="#{href}" title="#{name}" style="background-image: url('/images/integrations/#{src}');" target="_blank")
      span.small.text-center.block.margin-top-less #{name}

  .section.bg-gray.border-vertical-gray
    .row
      .column.medium-10.medium-offset-1
        h2.text-center.header__bottom-border.fade-in-up Accept bitcoin anywhere you take payments.
        p.lead.text-center.fade-in-up.delay-1 Over 40 integrations and counting.
      //- .column.medium-8.medium-offset-2.end.fade-in-up.delay-2.margin-top
      //-   form
      //-     input.integration-search(placeholder="Search our integrations..." type="search" value="" name="search")
      //-     span.search-icon.background-contain(style="background-image: url('/images/search.svg');")

  - var menu = { 'Integrated Solutions': 'integrated', 'Plugins': 'plugins', 'Point of Sale': 'pos', 'Billing': 'billing', 'Donations': 'donations', 'Code Libraries': 'code-libraries' };
  .border-bottom-gray.show-for-large-up.padding-bottom-none.padding-top-less(data-magellan-expedition="fixed")
    .row
      .column.medium-12
        ul.inline-list.subnav
          each slug, name in menu
            li
              - var hrefVal = '#' + slug;
              a.subnav-link.uppercase(href=hrefVal data-magellan-arrival=slug title=name)= name

  .section#integrated(data-magellan-destination="integrated")
    .row
      .column.large-5.margin-bottom
        h3.header__bottom-border-left Integrated Solutions
        p.lead These integrated solutions work out of the box, no development required. Simply connect your BitPay account and begin accepting bitcoin payments.
      .column.large-7.xlarge-6
        .row.small-collapse
          +integration("adyen.png", "http://adyen.com", "Adyen")
          +integration("demandware.png", "http://marketplace.demandware.com/Bitpay/Bitpay,default,pd.html", "Demandware")
          +integration("shopify.png", "https://docs.shopify.com/manual/settings/payments/payment-gateway#bitpay", "Shopify")
          +integration("paypal.png", "https://www.paypal.com/webapps/mpp/paymentshub", "PayPal")
          +integration("3dcart.png", "https://support.3dcart.com/knowledgebase/article/View/584/44/how-do-i-integrate-my-3dcart-store-with-bitpay", "3DCart")
          +integration("blesta.png", "http://docs.blesta.com/display/user/Bitpay", "Blesta")
          +integration("nats.png", "http://wiki.toomuchmedia.com/index.php/NATS4_Bit-Pay", "NATs")
          +integration("foxycart.png", "https://wiki.foxycart.com/gateways/bitpay", "Foxycart")
          +integration("prospercart.png", "http://www.prospercart.fi/uutiset/bitcoin-maksut-verkkokauppaan/", "ProsperCart")
          +integration("lemonstand.png", "https://docs.lemonstand.com/customer/bitpay-setup", "Lemonstand")
          +integration("cydec.png", "http://cydec.com", "Cydec")
          +integration("mpa3.png", "http://wiki.mansionproductions.com/index.php/MPA3:Admin_area/Settings/Billing_Processors/BitPay", "MPA3")
          +integration("egovlink.png", "http://www2.egovlink.com/press-release-bitcoin.cfm", "E-GOV Link")
          +integration("globalpayments.png", "http://globalpaymentsinc.com", "Global Payments")
          +integration("bitmonet.png", "http://bitmonet.com", "Bitmonet")

  .section.border-top-gray#plugins(data-magellan-destination="plugins")
    .row
      .column.large-5.margin-bottom
        h3.header__bottom-border-left Open Source Plugins
        p.lead BitPay develops and maintains plugins for many of the world’s most popular open-source eCommerce solutions.
      .column.large-7.xlarge-6
        .row.small-collapse
          +integration("magento.png", "https://github.com/bitpay/magento-plugin", "Magento")
          +integration("ecwid.png", "https://github.com/bitpay/ecwid-plugin", "Ecwid")
          +integration("gravityforms.png", "https://github.com/bitpay/gravityforms-plugin", "Gravity Forms")
          +integration("membershippro.png", "http://premium.wpmudev.org/project/membership/", "Membership Pro")
          +integration("opencart.png", "https://github.com/bitpay/opencart-plugin", "OpenCart")
          +integration("oscommerce.png", "https://github.com/bitpay/oscommerce-plugin", "OScommerce")
          +integration("prestashop.png", "https://github.com/bitpay/prestashop-plugin", "PrestaShop")
          +integration("drupal.png", "https://github.com/bitpay/bitpay-drupalcommerce", "Drupal Commerce")
          +integration("spreecommerce.png", "https://github.com/bitpay/spree-bitpay", "Spree Commerce")
          +integration("ubercart.png", "https://github.com/bitpay/ubercart-plugin", "Ubercart")
          +integration("virtuemart.png", "https://github.com/bitpay/virtuemart-plugin", "Virtue Mart")
          +integration("woocommerce.png", "https://github.com/bitpay/woocommerce-plugin", "WooCommerce")
          +integration("wpecommerce.png", "https://github.com/bitpay/wordpress-ecommerce-plugin", "WP eCommerce")
          +integration("xcart.png", "https://github.com/bitpay/xcartgold-plugin", "Xcart")
          +integration("zencart.png", "https://github.com/bitpay/zencart-plugin", "Zen Cart")
          +integration("commerceseo.png", "https://github.com/bitpay/commerce-seo-plugin", "commerce:SEO")

  .section.border-top-gray#pos(data-magellan-destination="pos")
    .row
      .column.large-5.margin-bottom
        h3.header__bottom-border-left Point of Sale
        p.lead BitPay merchants can directly activate bitcoin payments on these traditional and tablet-based point-of-sale systems.
      .column.large-7.xlarge-6
        .row.small-collapse
          +integration("ncrsilver.png", "http://ncrsilver.com", "NCR Silver")
          +integration("softtouch.png", "http://www.softtouchpos.com/pageBitcoin.html", "Soft Touch")
          +integration("visualtouch.png", "http://visualtouchpos.com", "VisualTouch")
          +integration("dcpos.png", "http://dcpos.com", "DC POS")
          +integration("new-west.png", "http://www.newestech.com/rms-addons/bitcoin", "New West Technologies")

  .section.border-top-gray#billing(data-magellan-destination="billing")
    .row
      .column.large-5.margin-bottom
        h3.header__bottom-border-left Billing &amp; Accounting
        p.lead Offer your customers bitcoin as a payment option in your billing &amp; accounting solutions.
      .column.large-7.xlarge-6
        .row.small-collapse
          +integration("netsuite.png", "https://bitpay.com/netsuite", "NetSuite")
          +integration("paybycoin.png", "http://paybycoin.intuit.com", "Intuit PayByCoin")
          +integration("paydici.png", "http://paydici.com", "Paydici")
          +integration("whmcs.png", "https://github.com/bitpay/whmcs-plugin", "WHMCS")
          +integration("hostbill.png", "http://hostbillapp.com/features/apps/bitpay.html", "Host Bill")

  .section.border-top-gray#donations(data-magellan-destination="donations")
    .row
      .column.large-5.margin-bottom
        h3.header__bottom-border-left Donations
        p.lead Tap into the emerging bitcoin donor base by enabling bitcoin donations through one of these solutions.
      .column.large-7.xlarge-6
        .row.small-collapse
          +integration("nationbuilder.png", "https://support.bitpay.com/hc/en-us/articles/203206345-How-to-Accept-Bitcoin-with-NationBuilder", "NationBuilder")
          +integration("ngpvan.png", "https://www.ngpvan.com/blog/announcing-bitcoin-contribution-integration", "NGPVan")
          +integration("coinvox.png", "http://coinvox.org", "Coin Vox")
          +integration("targetedvictory.png", "http://targetedvictory.com", "Targeted Victory")
  
  .section.border-top-gray#code-libraries(data-magellan-destination="code-libraries")
    .row
      .column.large-5.margin-bottom
        h3.header__bottom-border-left Code Libraries
        p.lead BitPay writes and maintains code libraries for today's most popular programming languages.
      .column.large-7.xlarge-6
        .row.small-collapse
          +integration("nodejs.png", "https://github.com/bitpay/node-bitpay-client", "NodeJS")
          +integration("ruby.png", "https://github.com/bitpay/ruby-client", "Ruby")
          +integration("android.png", "https://github.com/bitpay/android-sdk", "Android SDK")
          +integration("cordova.png", "https://github.com/bitpay/cordova-sdk", "Cordova SDK")
          +integration("ios.png", "https://github.com/bitpay/ios-sdk", "iOS SDK")
          +integration("python.png", "https://github.com/bitpay/bitpay-python-py2", "Python 2")
          +integration("python.png", "https://github.com/bitpay/bitpay-python", "Python 3")
          +integration("c.png", "https://github.com/bitpay/bitpay-c-keyutils", "C")
          +integration("csharp.png", "https://github.com/bitpay/csharp-bitpay-client", "C Sharp")
          +integration("java.png", "https://github.com/bitpay/java-bitpay-client", "Java")
          +integration("perl.png", "https://github.com/bitpay/perl-client", "Perl")
          +integration("php.png", "https://github.com/bitpay/php-bitpay-client", "PHP")
          +integration("elixir.png", "https://github.com/bitpay/elixir-client", "Elixir")
          +integration("go.png", "https://github.com/bitpay/bitpay-go", "Go")


  .section.bg-lightblue-gradient.border-top-gray
    .row
      .column.large-10.large-offset-1.text-center
          h3.white Get access to the BitPay platform.
          .margin-top-less
            a(href="/dashboard/signup").white.btn.btn-blue-solid.uppercase.bold.btn-margin Accept Bitcoin
