extends ../_layouts/primary

block title
  title About | BitPay

append vars
  -var bodyClass = 'white-header bg-blue-gradient';

block content
  .section
    .row.fade-in-up
      .column.medium-8-medium-offset-2.text-center
        h2.white.text-shadow.margin-bottom-less.fade-in.delay-1 We see a different future for payments.
        a(href="/about/team").white.btn.btn-blue-border.uppercase.bold.btn-margin.arrow Join Us


  .section.bg-white.border-bottom-gray
    .row
      .column
        h3.header__bottom-border-left About
    .row
      .column.large-5.medium-12.margin-bottom
        p.lead BitPay was founded in 2011, while Bitcoin was still in its infancy. We saw the potential for bitcoin to revolutionize the financial industry, making payments faster, more secure, and less expensive on a global scale.
        p We started BitPay with the intention of making it easy for businesses to accept bitcoin payments, and we are currently the largest bitcoin payment processor in the world, serving more than 60,000 merchants on six continents.
        p Payment processing was our first contribution to the Bitcoin ecosystem, but it is not our last. We're building open source software to power the next applications of Bitcoin. Bitcoin's future looks very bright, and we plan on remaining on the forefront of this technology, creating more tools and services for everyone to use in innovative new ways.
      .column.large-7.medium-12
        .h1.background-contain(style="background-image: url('/images/timeline.svg'); height:18em;")
    .row.margin-top.text-center
      mixin logos(name, width, height)
        .home-logo.h2.unselectable(style="background-image: url('/images/logos/#{name}.svg'); width: #{width}em; height: #{height}em; margin-right: 3em")
      +logos("index_ventures", 4, 2.5)
      +logos("founders_fund", 7, 2.5)
      +logos("felicis_ventures", 5, 3)
      +logos("RRE", 2.5, 2.5)




      mixin executive-team(name, img, title, description)
        h1.background-contain.circle.left.margin-right-less.margin-bottom.small-only-margin-bottom-most(style="background-image: url('/images/team/#{img}.jpg'); height:3.25em; width:3.25em;")
        h4 #{name}
        p.margin-bottom-less #{title}
        block


  .section.bg-gray-gradient.border-bottom-gray
    .row.margin-bottom
      .column.medium-8-medium-offset-2
        h3.header__bottom-border-left Executive Team
    .row.margin-bottom
      .column.large-6.medium-12.small-12
        +executive-team("Stephen Pair", "stephen", "Co-Founder, CEO")
          p Stephen has over 20 years of experience building software systems in the financial and telecommunications industries.
      .column.large-6.medium-12.small-12
        +executive-team("Tony Gallippi", "tony", "Co-Founder, Chairman of the Board")
          p Tony has 20 years of experience in Sales and Marketing in the Robotics and Financial industries.
    .row.margin-bottom
      .column.large-6.medium-12.small-12
        +executive-team("Bryan Krohn", "bryan", "Chief Finnancial Officer")
          p Bryan has 20 years of experience as CFO for several technology companies including CTS, OmniVue, and American Data Corporation.
      .column.large-6.medium-12.small-12
        +executive-team("Tim Byun", "tim", "Chief Compliance Officer")
          p Tim has over 20 years of experience in ensuring compliance, including five years as Visa's AML Officer and 16 years as a bank examiner for the Federal Reserve and the FDIC.
    .row.margin-bottom
      .column.large-6.medium-12.small-12
        +executive-team("Sonny Singh", "sonny", "Chief Commercial Officer")
          p Sonny was the first VP of Sales at Jumio and previously was at InMage Systems (acquired by Microsoft) and Niku (acquired by Computer Associates).
      //- .column.large-6.medium-12.small-12
      //-   +executive-team("Marcel Roland", "marcel", "General Manager, EMEA Region")
      //-     p Marcel has 27 years of experience in the financial services industry, including nineteen years with GE Capital and five years as the General Manager of MasterCard in the Netherlands.

  //- .section.bg-gray-gradient.border-bottom-gray
  //-   .row.margin-bottom
  //-     .column
  //-       h3.header__bottom-border-left Offices
  //-       p.lead We have team members all over the world, with offices in North America, Europe, and South America.
  //-   .row
  //-     .column.medium-10.large-12
  //-       .row
  //-         .column.large-4
  //-           .h3 Atlanta
  //-         .column.large-4
  //-           .h3 Amsterdam
  //-         .column.large-4
  //-           .h3 Argentina

  .section.bg-lightblue-gradient.border-top-gray
    .row
      .column.large-10.large-offset-1.text-center
          h3.white We're Hiring.
          .margin-top-less
            a(href="/about/team").white.btn.btn-blue-solid.uppercase.bold.btn-margin Join Us
