extends ../_layouts/primary

block title
  title About | BitPay
  
append vars
  -var bodyClass = 'white-header bg-blue-gradient';

block content
  .section
    .row.fade-in-up
      .column.medium-8-medium-offset-2.text-center
        h2.white.text-shadow.margin-bottom-less.fade-in.delay-1 We see a different future for payments
        p.lead.text-shadow.white.fade-in-up.delay-2 We power bitcoin infastructure around the world, access the most trusted name in bitcoin. 
        a(href="#").white.btn.btn-blue-border.uppercase.bold.btn-margin Join the team


  .section.bg-white.border-bottom-gray
    .row
      .column
        h3.header__bottom-border-left About
    .row
      .column.large-5.medium-12.margin-bottom
        p.lead BitPay was founded in 2011, while Bitcoin was still in its infancy. We saw the potential for bitcoin to revolutionize the financial industry, making payments faster, more secure, and less expensive on a global scale. 
        p We founded BitPay with the intention of making it easy for businesses to accept bitcoin payments, and we are currently the largest bitcoin payment processor in the world, serving more than 60,000 merchants on six continents.
        p Payment processing was our first contribution to the Bitcoin ecosystem, but it is not our last. We're building open source software to power the next applications of Bitcoin, including one of the best bitcoin wallets on the market - Copay. Bitcoin's future looks very bright, and we plan on remaining on the forefront of this technology, creating more tools and services for everyone to use in innovative new ways.
      .column.large-7.medium-12
        .row
          .column.small-5
            .timeline-item-left.first-item.fade-in.delay-1
              p.text-right.uppercase.small.margin-bottom-none BitPay Founded
              p.text-right.small.opacity-less May 2009
            .timeline-item-left.third-item.fade-in.delay-3
              p.text-right.uppercase.small.margin-bottom-none.event-title-three Virgin Galactic<br />Accepts Bitcoin
              p.text-right.small.opacity-less May 2011
            .timeline-item-left.fifth-item.fade-in.delay-5.event-title-five
              p.text-right.uppercase.small.margin-bottom-none Event Number Five
              p.text-right.small.opacity-less May 2011
          .column.small-2
            .h1.background-contain.text-center.margin-top-none(style="background-image: url('/images/timeline.svg'); width:2em; height:15em; position: absolute; z-index: 1;")
          .column.small-5
            .timeline-item-right.second-item.fade-in.delay-2
              p.uppercase.small.margin-bottom-none.event-title-two Atlanta Office <br />Established
              p.small.opacity-less May 2011
            .timeline-item-right.fourth-item.fade-in.delay-4
              p.uppercase.small.margin-bottom-none.event-title-four VC Round Investment
              p.small.opacity-less May 2011
            .timeline-item-right.sixth-item.fade-in.delay-6
              p.uppercase.small.margin-bottom-none.event-title-six Microsoft Accepts<br /> Bitcoin
              p.small.opacity-less May 2011          
    .row.text-.margin-top.text-center
      mixin logos(name, width, height)
        .home-logo.h2.opacity.unselectable(style="background-image: url('/images/logos/#{name}.svg'); width: #{width}em; height: #{height}em; margin-right: 3em")
      +logos("founders_fund", 7, 2.5)
      +logos("RRE", 2.5, 2.5)
      +logos("index_ventures", 4, 2.5)
      +logos("felicis_ventures", 5, 3)



      mixin executive-team(firstName, lastName, title, description)
        h1.background-contain.circle.left.margin-right-less.margin-bottom.small-only-margin-bottom-most(style="background-image: url('/images/team/#{firstName}.jpg'); height:3.25em; width:3.25em;")
        h4 #{firstName} #{lastName}
        p.margin-bottom-less #{title}
        p #{description}
      


  .section.bg-gray-gradient.border-bottom-gray
    .row.margin-bottom
      .column.medium-8-medium-offset-2
        h3.header__bottom-border-left Executive Team
    .row.margin-bottom
      .column.large-6.medium-12.small-12
        +executive-team("Stephen", "Pair", "Co-Founder, CEO", "Stephen has over 20 years of experience building software systems in the financial and telecommunications industries.")
      .column.large-6.medium-12.small-12
        +executive-team("Tony", "Gallippi", "Co-Founder, Chairman of the Board", "Tony has 20 years of experience in Sales and Marketing in the Robotics and Financial industries. He entered the bitcoin space")
    .row.margin-bottom
      .column.large-6.medium-12.small-12
        +executive-team("Bryan", "Krohn", "Chief Finnancial Officer", "Bryan has 20 years of experience as CFO for several technology companies including CTS, OmniVue, and American Data Corporation.")
      .column.large-6.medium-12.small-12
        +executive-team("Tim", "Byun", "Chief Compliance Officer", "Tim has over 20 years of experience in ensuring compliance, including five years as Visa's AML Officer and 16 years as a bank examiner for the Federal Reserve and the FDIC.")
    .row.margin-bottom
      .column.large-6.medium-12.small-12
        +executive-team("Sonny", "Singh", "Chief Commercial Officer", "Sonny was the first VP of Sales at Jumio and previously was at InMage Systems (acquired by Microsoft) and Niku (acquired by Computer Associates).")
      .column.large-6.medium-12.small-12
        +executive-team("Marcel", "Roland", "Chief Product Manager", "Marcel brings [X] years of experience with card processors and mobile payments companies. ")

  .section.bg-gray-gradient.border-bottom-gray
    .row.margin-bottom
      .column
        h3.header__bottom-border-left Offices
        p.lead We have offices all over the world in North America, Europe, and South America.
    .row
      .column.medium-10.large-12
        .row
          .column.large-4
            .h3 Atlanta
            p.margin-bottom-none 3405 Piedmont Rd NE
            p Atlanta GA, 30305
          .column.large-4
            .h3 Amsterdam
            p.margin-bottom-none Herengracht 458
            p 1017 CA Amsterdamn
          .column.large-4
            .h3 Argentina Bitcoin Center
            p.margin-bottom-none Marcelo T. de Alvear 405
            p Ciudad de Beunos Aires

  .section.bg-lightblue-gradient.border-top-gray
    .row
      .column.large-10.large-offset-1.text-center
          h3.white Sign up for a BitPay account. It's free and always will be.
          .margin-top-less
            a(href="#").white.btn.btn-blue-solid.uppercase.bold.btn-margin Accept Bitcoin
