extends ../_layouts/primary

block title
  title Press | BitPay

block content
  .row.margin-bottom-less
    .column.medium-3.small-3
      h1 Press
    .column.medium-9.small-9
      a(href="#").white.btn.btn-blue-solid.uppercase.bold.right Download Press Kit
      
      
  .bg-gray-gradient.border-vertical-gray.padding-vertical-more
    .row
      .column
        h3.header__bottom-border-left Recent Coverage
    .row
      .column.large-8
        mixin featured-article(title, date, publication, url)
          p.lead.margin-bottom-none <a href="#{url}" target="_blank">#{title}</a>
          p.margin-bottom-less #{date} - #{publication}
        +featured-article("Charities Seek Donations in Bitcoin", "04.12.15", "The Wall Street Journal", "http://www.wsj.com/articles/charities-seek-donations-in-bitcoin-1428894121")
        +featured-article("BitPay Reveals the (Good) Reason Why Bitcoin Price is Down", "04.17.15", "The Cointelegraph", "http://cointelegraph.com/news/113987/bitpay-reveals-the-good-reason-why-bitcoin-price-is-down")
        +featured-article("How to Trace a Political Donation Made with Bitcoin", "04.8.15", "Motherboard", "http://motherboard.vice.com/read/how-to-trace-a-political-donation-made-with-bitcoin")
        +featured-article("This Week On The TechCrunch Bitcoin Podcast: Poker, BitPay And Growth", "03.26.15", "TechCrunch", "http://techcrunch.com/2015/03/26/this-week-on-the-techcrunch-bitcoin-podcast-poker-bitpay-and-growth")
      .column.large-4.uppercase
          p.blog <a href="http://blog.bitpay.com">BitPay Blog</a>
          p.twitter <a href="http://www.twitter.com/bitpay" target="_blank">BitPay on Twitter</a>
          p.linkedin <a href="http://www.linkedin.com/company/bitpay-inc-" target="_blank">BitPay on LinkedIn</a>
          p.facebook <a href="https://www.facebook.com/BitPayOfficial" target="_blank">BitPay on Facebook</a>
    .row.text-center
      <hr>
      mixin logos(name, width, height)
        .home-logo.h2.opacity.unselectable(style="background-image: url('/images/publication_logos/#{name}.svg'); width: #{width}em; height: #{height}em; margin-right: 1.5em")
      +logos("new_york_times", 4.5, 2)
      +logos("wired", 4, 2.5)
      +logos("wall_street_journal", 4.5, 2.5)
      +logos("techcrunch", 4.5, 2.5)
      +logos("forbes", 4, 2.5)
      
  .section
    .row
      .column
        h3.header__bottom-border-left Brand Guidelines
    .row
      .column.large-6
        .div
          <img src="/images/bitpay-brand-logo-white.jpg" alt="BitPay" width="100%">
        ul.inline-list
          li <a href="#">PNG</a>
          li <a href="#">EPS</a>
          li <a href="#">JPG</a>
      .column.large-6
        <img src="/images/bitpay-brand-logo-blue.jpg" alt="BitPay" width="100%">
        ul.inline-list
          li <a href="#">PNG</a>
          li <a href="#">EPS</a>
          li <a href="#">JPG</a>
    .row.margin-top
      .column.large-6
        p This is the primary logo that we use. Make sure to give it adequate spacing on the sides. Preferably use the white logo on a dark background.
        p BitPay is written with the B and P capitalized to distinguish BitPay (our company) from bitcoin (the currency).
      .column.large-6
        .row
          .column.large-6.medium-6
            p.uppercase Correct
          .column.large-6.medium-6
            p.checkmark BitPay
        .row
          .column.large-6.medium-6
            p.uppercase Incorrect
          .column.large-6.medium-6
            p.incorrect.margin-bottom-less Bitpay
            p.incorrect.margin-bottom-less bitPay
            p.incorrect.margin-bottom-less bit-pay
            p.incorrect.margin-bottom-less bit pay
    
    
  .section.bg-lightblue-gradient.border-top-gray
    .row
      .column.medium-8.medium-offset-2
        h2.text-center.white Need more? We're happy to help.
        
    .row
      .column.medium-8.medium-offset-2.text-center
        a(href="#").white.btn.btn-margin.btn-blue-solid.uppercase.bold Download Press Kit
        a(href="mailto:media@bitpay.com").white.btn.btn-blue-border.btn-margin.uppercase.bold Email Us
        h4.text-center.white.margin-top-less Media Contact +1 (415) 650-7450
