extends _layouts/primary

block title
  title Accept Bitcoin | BitPay

append vars
  -var bodyClass = 'white-header bg-blue-gradient';

block content
  .background-element.text-center.opacity
    img(src="/images/geometric_map.svg" width="100%")
    mixin pulse(left, top, id, msDelay)
      div(class="pulse-#{id}" style="left:#{left}%; top:#{top}%; -webkit-animation-delay: #{msDelay}ms; animation-delay: #{msDelay}ms;")
        .pulse-center
    +pulse(13, 42, 2, 1000)
    +pulse(16, 33, 2, 2000)
    +pulse(30, 84, 1, 1500)
    +pulse(29, 81, 2, 1000)
    +pulse(22, 32, 3, 4500)
    +pulse(23, 40, 1, 0)
    +pulse(25, 38, 2, 2300)
    +pulse(12, 30, 4, 10000)
    +pulse(46, 31, 3, 5300)
    +pulse(56, 33, 1, 800)
    +pulse(50, 34, 2, 1300)
    +pulse(50, 36, 1, 300)
    +pulse(46, 28, 2, 2700)
    +pulse(45, 35, 3, 1500)
    +pulse(48, 30, 4, 3000)
    +pulse(51, 37, 2, 4000)
    +pulse(67, 53, 1, 1750)
    +pulse(56, 61, 2, 4000)
    +pulse(76, 62, 1, 2000)
    +pulse(88, 84, 3, 300)
    +pulse(89, 81, 1, 470)
    +pulse(79, 82, 4, 1320)
    +pulse(77, 48, 2, 400)
      
  .section
    .row
      .column.large-10.large-offset-1.text-center
          img.h1(src="/images/bitcoin.svg" style="width: 1.5em; height 1.5em").medium-margin-top.fade-in.
          h1.white.fade-in.text-shadow Bitcoin payments, deposited to your bank account.
          h4.white.text-shadow.medium-margin-top-less.medium-8.medium-offset-2.fade-in.delay-2 Offer your customers the world’s fastest and safest payment option. We'll handle the bitcoin.
          .margin-top-less.fade-in.delay-4
            a(href="/tour").arrow.white.btn.btn-blue-border.uppercase.bold.btn-margin Start Tour
            a(href="#").white.btn.btn-blue-solid.uppercase.bold.margin.btn-margin Accept Bitcoin
      
  .section
    .row
      .column.medium-12.text-center.fade-in.delay-6
        h5.uppercase.white.margin-bottom Trusted by Over 60,000 Businesses and Organizations
        mixin logos(name, width, height)
          .home-logo.h2.opacity.unselectable(style="background-image: url('/images/logos/#{name}.png'); width: #{width}em; height: #{height}em;")
        +logos("microsoft", 3.5, 2.5)
        +logos("airbaltic", 2.5, 2.5)
        +logos("paypal", 2.5, 2.5)
        +logos("adyen", 2.5, 2.5)
        +logos("childfund", 2.5, 2.5)
        +logos("virgin", 2, 1.5)
        +logos("shopify", 2.5, 2.5)
        +logos("global-payments", 3.5, 2.5)
        +logos("tigerdirect", 2.5, 2.5)
        +logos("gyft", 2.5, 1)
        +logos("save-the-children", 3, 2.5)
        +logos("takeaway", 2, 1.5)
        +logos("rakuten", 3, 2.5)
        +logos("zynga", 2.5, 2.5)
        +logos("newegg", 2, 1.5)
        +logos("namecheap", 3.5, 2.5)
      
